
.container-fluid{
    width: 100%;
}


.main_page .my_cont {
    background: white
}
.main_page .middle {
    background: white
}
.main_page .last {
    background: transparent
}
.main_page .my_scroll{
    padding: 100rem;
}
.main_page .display-4{
    color: black;
}
.main_page .display-4 .display_lol{
    color: white;
}

.main_page .category_name{
    color: black;
}
.weapon-picture {
}



.jumbotron {
    color: white;
}

.display-4 {
    color: white;
}



.weapon-page {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;

}



