{% extends 'main.html' %}
{% load bootstrap %}
{% load static %}
{% block tytul %} Weapon page {% endblock %}

{% block strona %}
<body style="background-image: url({% static 'images/background_2.jpg' %});">
    <div class="card container justify-content-center mt-5" style="width: 20rem">
          <!-- <img class="card-img-top" src="#" alt="Image not provided"> -->
          <div class="card-body">
            <h2 class="card-title text-center">{{ weapon.name }}</h2>
            <p class="card-text"></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Magnitude: {{ weapon.buy_price }}</li>
            <li class="list-group-item">Buy price: {{ weapon.sell_price }}</li>
            <li class="list-group-item">Sell price: {{ weapon.cal }}</li>
              <li class="list-group-item">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Attachable scopes
                  <i class="fas fa-angle-double-down"></i>
              </button>
              <div class="collapse" id="collapseExample">
                  <ul class="list-group list-group-flush">
                     {% for scope in all_scopes %}
                      <li class="list-group-item">
                      <a href="{% url 'scope_page' scope.id %}"> {{ scope }} </a>
                      </li>
                      {% endfor %}
                  </ul>

              </div>
              </li>
          </ul>
          <div class="card-body text-center">
            <a href="{% url 'edit_weapon' weapon.id %}" class="btn btn-secondary card-link">Edit weapon</a>
            <a href="{% url 'landing_page' %}" class="btn btn-secondary ">Return <i class="fas fa-undo-alt"></i></a>
          </div>
    </div>
</body>
{% endblock %}
