{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Weapon form {% endblock %}

{% block strona %}
    <div class="card container justify-content-center" style="width: 32rem;">
          <div class="card-body">
              {% if new %}
                    <h5 class="card-title">New Weapon</h5>
                  {% else %}
                    <h5 class="card-title">Edit Weapon</h5>
                  {% endif %}

              <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                  {{ scope_form }}

                  <button class="btn btn-primary">Save weapon <i class="fas fa-save"></i></button>

              </form>
          </div>
        <a href="{% url 'all_weapons' %}#weapon_cat" class="btn btn-secondary">Return <i class="fas fa-undo-alt"></i></a>
        </div>


{% endblock %}